.footer-background
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				h2.footer-header Get in touch
				ul.social-net
					li
						a(href="#") <i class="fa fa-facebook"></i>
					li
						a(href="#") <i class="fa fa-twitter"></i>
					li
						a(href="#") <i class="fa fa-google-plus"></i>
					li
						a(href="#") <i class="fa fa-linkedin"></i>
				p.subscribe-news Subscribe to our newsletter to stay update with what is new
				form
					input(type="text" placeholder="Email Address" class="footer-input")
					button(type="submit" class="footer-submit") Subscribe
.container-fluid
	.row.cssauthor
		a(href="http://cssauthor.com")
			|Cssauthor.com <i class="fa fa-copyright"></i> 2014 All Rights Reserved
	