.contacts-background
	.container
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12
				div.email
					span
						|mail@gmail.com
					a(href="#" class="contact-facebook")
						<i class="fa fa-facebook"></i>
				div.phone-number
					span
						|1244 4321
.container.margin-bottom-5
	.row
		.col-xs-8.col-sm-5.col-md-4.col-lg-4
			a(href="index.html")
				img.red-hat-logotype(src="img/pupil-hat.png")
				p.text-logotype
					|Business<br />
					|<span>Some text</span>
		.col-xs-4.col-sm-7.col-md-8.col-lg-8
			nav.navbar.default-navbar
				button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false")
					span(class="sr-only") Toggle navigation
					span(class="icon-bar")
					span(class="icon-bar")
					span(class="icon-bar")
				.navbar-collapse.collapse#menu
					ul.nav.navbar-nav.nmenu
						li
							a(href="#" class="navbar-home") Home
						li
							a(href="#" class="navbar-about") About Us
						li
							a(href="#" class="navbar-approach") Our Approach
						li
							a(href="#" class="navbar-works") Our Works
					a(href="#" class="nav-freecons") Free Consultation
