include utils/head
body
	include utils/header
	.container-fluid.banner-background
		.row
			.div-opacity
			.banner-content
				h1.we-provide
					|We Providing</br>
					|<span>Lorem impsom dolor sit amet</span>
				a(href="#" class="banner-freecons") FREE CONSULTATION
	.container.margin-bottom-5
		.row
			.col-xs-12.col-sm-12.col-md-12.col-lg-12.section-head
				h1.big-headers
					|About Us<br />
					|<span>We are added our major Services</span>
		.row
			.col-xs-12.col-sm-6.col-md-4.col-lg-4
				.about-us-blocks
					img(src="img/thumbup.png" class="about-us-img")
					h3.about-us-h Facebook Marketing
					p.about-us-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu sodales purus. Praesent ut aliquam elit, dapibus faucibus nibh.

			.col-xs-12.col-sm-6.col-md-4.col-lg-4
				.about-us-blocks
					img(src="img/red-book.png" class="about-us-img")
					h3.about-us-h landing pages Creation
					p.about-us-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu sodales purus. Praesent ut aliquam elit, dapibus faucibus nibh.
			.col-xs-12.col-sm-6.col-md-4.col-lg-4
				.about-us-blocks
					img(src="img/cloud.png" class="about-us-img")
					h3.about-us-h Ads management
					p.about-us-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu sodales purus. Praesent ut aliquam elit, dapibus faucibus nibh.
	.approch-back
		.container.margin-bottom-12
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.section-head
					h1.big-headers.dash-phone
						|Our Approch<br />
						|<span>Check Our approches step by step (how we do it)<span/>
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.our-approch-blocks
					img(src="img/camera.png")
					.approch-content
						h4.approch-h Step 1: Heading here
						p.approch-p Etiam auctor massa tellus, id cursus sem ullamcorper vitae. Mauris ac pharetra orci. Nullam luctus lacus a nunc elementum, in accumsan metus tristique. In id semper est, et accumsan turpis.
					.red-square
						h1
							|1<br />
							|<span>step</span>
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.our-approch-blocks-right
					img(src="img/mountain-road.png")
					.approch-content-reverse
						h4.approch-h Step 1: Heading here
						p.approch-p Etiam auctor massa tellus, id cursus sem ullamcorper vitae. Mauris ac pharetra orci. Nullam luctus lacus a nunc elementum, in accumsan metus tristique. In id semper est, et accumsan turpis.
					.red-square-right
						h1
							|2<br />
							|<span>step</span>
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.our-approch-blocks
					img(src="img/courtyard.png")
					.approch-content
						h4.approch-h Step 1: Heading here
						p.approch-p Etiam auctor massa tellus, id cursus sem ullamcorper vitae. Mauris ac pharetra orci. Nullam luctus lacus a nunc elementum, in accumsan metus tristique. In id semper est, et accumsan turpis.
					.red-square
						h1
							|3<br />
							|<span>step</span>
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.our-approch-blocks-right
					img(src="img/table.png")
					.approch-content-reverse
						h4.approch-h Step 1: Heading here
						p.approch-p Etiam auctor massa tellus, id cursus sem ullamcorper vitae. Mauris ac pharetra orci. Nullam luctus lacus a nunc elementum, in accumsan metus tristique. In id semper est, et accumsan turpis.
					.red-square-right
						h1
							|4<br />
							|<span>step</span>
	.bunch-blocks-background
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.section-head
					h1.big-headers-2
						|Our Works<br />
						|<span>We are added our featured works below</span>
				.col-xs-12.col-sm-12.col-md-6.col-lg-6.padding-right-0
					.project-name
						h2.project-name-h
							|Project Name<br />
							|<span>Facebook marketing</span>
					img.project-img(src="img/camera.png" class="cloud-img")
					img.project-img(src="img/camera.png" class="cloud-img")
					.project-name
						h2.project-name-h
							|Project Name<br />
							|<span>Landing page</span>
				.col-xs-12.col-sm-12.col-md-6.col-lg-6.padding-left-0
					.project-name
						h2.project-name-h
							|Project Name<br />
							|<span>Facebook marketing</span>
					img.project-img(src="img/camera.png" class="cloud-img")
					img.project-img(src="img/camera.png" class="cloud-img")
					.project-name
						h2.project-name-h
							|Project Name<br />
							|<span>Landing page</span>
	.analysis-background
		.container
			.row
				.col-xs-12.col-sm-12.col-md-12.col-lg-12
					h1.analys-header
						|Get Your Facebook Analysis Now<br />
						|<span>Enter your details below</span>
					a(href="#" class="details-button")
						<i class="fa fa-angle-down"></i>
					.analysis-data
						a(href="#" class="analys-close") X
						p.analysis-data-p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu sodales purus. Praesent ut aliquam elit, dapibus faucibus nibh. Vivamus quis lacus neque. Etiam auctor massa tellus, id cursus sem ullamcorper vitae.
						.analysis-input-block
							form
								input(type="text" placeholder="Your Name" class="analysis-input")
								input(type="text" placeholder="Contact Number" class="analysis-input")
								input(type="text" placeholder="Company Name" class="analysis-input")
								button(type="submit" class="analysis-submit") SUBMIT NOW
	include utils/footer
